.card {
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px 16px 16px 16px;
}

.card .card-content p {
     margin-top: 20px;
}

.card-image {
    position:relative; 
    width:100%
}
    .card-image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
    height:100%
}