<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="footer-head">
                <div class="row">
                    <div class="col s2 l1">
                        <h5 class="white-text">
                            <i class="small material-icons" title="Colapsar pie" (click)="toggleFooter()">swap_vert</i>
                        </h5>
                    </div>

                    <div class="col s10 l11">
                        <h5 class="white-text">Galileo Tecnologies</h5>
                    </div>
                </div>
            </div>

            <div class="footer-body">
                <div class="row">
                    <div class="col s12 l12 offset-l1">
                        <p class="grey-text text-lighten-4">Fabricamos Compresores de GNC y Nano Estaciones de Producción de GNL, para el abastecimiento de vehículos, industrias y comunidades.</p>
                    </div>
                </div>
            </div>

            <div class="footer-footer">
                <!--QUEDA EL DIV POR SI EL DIA DE MAÑANA SE QUIERE AGREGAR ALGO-->
            </div>

        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l2 s12">
                    © 2017 Copyright Right
                </div>

                <div class="col l2 offset-l2 s12">
                    <a class="grey-text text-lighten-3" href="http://www.galileoar.com/es/gnc-compresion/femtobox">&nbsp; Fetombox</a>
                </div>

                <div class="col l2 s12">
                    <a class="grey-text text-lighten-3" href="http://www.galileoar.com/es/gnc-compresion/microbox">&nbsp; Microbox</a>
                </div>

                <div class="col l2 s12">
                    <a class="grey-text text-lighten-3" href="http://www.galileoar.com/es/gnc-compresion/nanobox">&nbsp; Nanobox</a>
                </div>

                <div class="col l2 s12">
                    <a class="grey-text text-lighten-3" href="http://www.galileoar.com/es/gnc-compresion/surtidores">&nbsp; Surtidores</a>
                </div>
            </div>
        
        </div>
    </div>
</footer>